<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Fajar Adi Setyawan on 13/1/2023 - 10:17:48
  ~ fajaras465@gmail.com
  ~ Copyright (c) 2023.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fajaradisetyawan.movieku">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MovieApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_movie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_movie"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieKu"
        tools:targetApi="31">
        <activity
            android:name="com.fajaradisetyawan.movieku.feature.ui.SplashScreenActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fajaradisetyawan.movieku.feature.ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.fajaradisetyawan.movieku.feature.ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fajaradisetyawan.movieku.feature.ui.MainActivity" />
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="com.fajaradisetyawan.movieku.receiver.NewReleaseMovieWorker"
                android:value="androidx.startup" />
        </provider>
        <!-- If you want to disable android.startup completely. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

        <receiver
            android:name="com.fajaradisetyawan.movieku.receiver.ReminderReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>


</manifest>